


#container{
	padding: 2%;
	
	  -webkit-user-select: none;  /* Chrome all / Safari all */
	  -moz-user-select: none;     /* Firefox all */
	  -ms-user-select: none;      /* IE 10+ */

	  /* No support for these yet, use at own risk */
	  -o-user-select: none;
	  user-select: none;          
	
}

table{
	width: 100%;
	max-width: 800px;
	margin: auto;
}

img{
	width: 100%;
	-webkit-user-drag: none;
}

#scores{
	width: 100%;
	max-width: 800px;
	margin: auto;
}

#scores p{
	font-family: Helvetica, Arial, Verdana, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	color: #444;
	font-size: large;
	line-height: 0.2em;
	width: 40%;
}

.time{
	float: left;
	text-align: right;
	padding-left: 7%;
}

.flips{
	float: right;
	text-align: left;
	padding-right: 7%;
}


/* entire container, keeps perspective */
.flip-container {
	perspective: 1000;
	
}
	/* flip the pane when hovered */
	.flip-container.flip .flipper{
		transform: rotateY(180deg);
	}

.front, .back {
	width: 100%;
	margin-top: -50%;
}

/* flip speed goes here */
.flipper {
	transition: 0.4s;
	transform-style: preserve-3d;
	margin-top:0;
	position: relative;
}

/* hide back of pane during swap */
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}

.front img, .back img{
	border-radius: 7px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.33);
}

/* front pane, placed above back */
.front {
	z-index: 2;
}

/* back, initially hidden pane */
.back {
	transform: rotateY(180deg);
	-ms-transform: none;
}