html {margin:0; padding:0; border:0; min-width: 786px;}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}


.style3 {font-family: Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold;}
.style5 {font-weight: bold}
.style6 {font-size: 10px; font-family: Arial, Helvetica, sans-serif;}


#content {font-family:arial, verdana, tahoma; color:#000000; font-size:11px; height:224px;}
#content a:link {font-weight:bold; color:#000000;}
#content a:visited {font-weight:bold; color:#000000;}
#content a:active, #content a:hover {font-weight:bold; color:#000000;}



